body {
  width: 350px;
}

button {
  outline: none;
}

textarea {
  outline: none;
}

.roundbutton {
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.roundbutton.small {
  height: 25px;
  width: 25px;
  padding: 0;
}

.blockdice {
  display: flex;
  align-items: center;
  border: solid 1px #ccc;
  border-radius: 8px;
  padding: 5px 10px;
}

.dicename {
  width: calc(100% - 85px);
  font-weight: bold;
}

.blockdetail {
  display: block;
  margin: 0 10px;
  padding: 0px 10px 10px 10px;
  border: solid 1px #ccc;
  border-radius: 0 0 8px 8px;
  border-top: 0px;
}

.blockdetail textarea {
  width: 100%;
  height: 2.5em;
  margin-top: 2px;
}

.blockdetail label {
  font-size: 10px;
  text-transform: uppercase;
}

.blockdetail p {
  font-size: 11px;
  text-transform: none;
  margin: 0;
  color: gray;
}

.buttons {
  text-align: right;
}

.buttons button {
  height: 35px;
  width: 35px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #ccc;
}

.connectdice {
  display: inline-block;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 11px;
}

.connectdice.main-button {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  text-align: center;
  margin-top: 10px;
}

.button-container .connectdice {
  margin: 0 5px;
}

.connectdice span {
  margin-right: 8px;
  vertical-align: 1px;
}

.connectdice:hover {
  background-color: #ccc;
}
